* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
}

#slika {
  width: 500px;
}

#Desno,
#Lijevo {
  animation: tocak 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes tocak {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
